*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root {
    --white: #f5f6fa;
    --grey: #ced6e0;
    --black: #2d3436;
    --orange: #ffa502;
    --light-orange: #f0932b;
    --red: #eb4d4b;
    --light-red: #ff7979;
    --green: #27ae60;
    --light-green: #2ecc71;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--grey);
    color: var(--black);
    
    min-height: 100vh;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 72px 5fr auto;
}

/* Header */

header,
footer {
    text-align: center;
}

header {
    display: grid;
    align-items: center;

    background-color: var(--white);
    box-shadow: 0px 3px 4px -4px var(--black);

    font-size: 24px;
    position: sticky;
    top: 0;
}

/* Main */

main {
    height: 100%;
    width: 50%;
    padding: 24px 0 0;

    margin: 0 auto;
}

.main-container {
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.btn {
    border: none;
    border-radius: 6px;
    padding: 12px 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.btn-add {
    background-color: var(--light-orange);
    color: var(--white);
}

.btn-add:hover {
    background-color: var(--orange);
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Books */

.books-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    background-color: var(--white);

    border-radius: 6px;
    padding: 16px 0;

    font-size: 20px;
}

.book-card .btn {
    width: 75%;
}

.btn-not-read,
.btn-read {
    color: var(--white);
}

.btn-not-read {
    background-color: var(--red);
}

.btn-not-read:hover {
    background-color: var(--light-red);
}

.btn-read {
    background-color: var(--green);
}

.btn-read:hover {
    background-color: var(--light-green);
}


/* Footer */

footer {
    font-weight: bold;
    padding: 16px 0;
}